

<footer>
    <div class="footer">

        <div class="f-description">
            <h3>MindEchoes</h3> 
            <p>Journal app for instant mood boosts and personal growth</p>
            <p>Copyright &copy; MindEchoes</p>
        </div>

        <div class="f-info">
            <div class="company f-item">
                <h4>Company</h4>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="product f-item">
                <h4>Product</h4>
                <ul>
                    <li><a href="/auth/login">Login</a></li>
                    <li>Changelog</li>
                </ul>
            </div>

            <div class="support f-item">
                <h4>Support</h4>
                <ul>
                    <li>Help</li>   
                    <li>Terms of Service</li>   
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>

        <hr>
    </div>
</footer>