<section class="f-main">
    <div class="footer1 text-center">

        <a href="#" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=mindechoes.in@gmail.com'); return false;"><i class="fa-solid fa-paper-plane"></i> Send Feedback</a>

    </div>
</section>