<%  layout("/layouts/boilerplate") %>
<body>
    <div class="newJournal">
        
    <div class="chat-container ">
        <div class="chat-heading">
            <h1>Reflection Guide</h1>
            <p>Your go-to for deep talks and self-discovery. Think of a journaling buddy who's all about understanding your inner world.</p>
        </div>
        <div class="message receiver">Hello! How can I help you?</div>
        <div class="message sender">Hi! I'm looking for some information.</div>
        <div class="message receiver">Sure, what do you need to know?</div>
        <div class="message sender">Hi! I'm looking for some information.</div>
     
        
        <!-- Add more messages here -->
        <div>
            <input type="text" class="message-input" placeholder="Type your thoughts...">
            <button class="btn-send">Add Thoughts</button>
        </div>
    </div>
    </div>
</body>

    
