<% layout("layouts/boilerplate") %>

<body>
  <div class="form-container ms-md-auto me-md-auto">
      <form  method="post" action="/myJournals/<%= journal._id %>/update?_method=PUT">
        <input type="text" id="title" name="title" placeholder="Title" value="<%=journal.title %>" required>
        <textarea id="message" placeholder="write..." name="message" rows="17" required><%= journal.message %></textarea>
        <div class="form-btn">
          <button class="btn btn-dark" type="submit">Edit</button>
        </div>
      </form>
    </div>
    </body>