<% layout("layouts/boilerplate.ejs") %>

<body >

    <div class="form-container ms-md-auto me-md-auto">
      <!-- <h1>Write down your mind Echoes <i class="fa-solid fa-lightbulb"></i></h1> -->
      <form action="/journal/new" method="post">
   
          <input  type="text" id="title" name="title" placeholder="Title" required>

        
          <textarea  id="message" name="message" rows="17"  placeholder="message" ></textarea>
      
        <div class="form-btn">
          <button class="btn btn-dark"  type="submit">Add <i class="fa-regular fa-paper-plane"></i></button>
        </div>
      </form>
    </div>
    </body>