<% layout("layouts/boilerplate") %>
<body>

    <div class="row col-8 mt-2 offset-2">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
           
            <div>
              <p><%= message %></p>
            </div>
          </div>
    </div>
</body>