<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon_io/favicon.ico" type="image/x-icon">
    <title>MindEchoes</title>

       <!-- Custom css -->
       <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/style1.css">
        <link rel="stylesheet" href="/CSS/review.css">
    
       <!-- BootStrap links -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
       <!-- google fonts   -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
   
       <!-- font awesome links -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-dark text-light">
            <div class="container">
                <!-- NavBar Code -->
                <header class="row">
                    <nav class="navbar navbar-expand-lg  bg-dark">
                        <div class="container-fluid ">
                            <a class="navbar-brand" href="/"><b>MindEchoes</b></a>
                            <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="btn btn-success" href="/auth/login">Login <i class="fa-solid fa-arrow-up-right-from-square"></i> </a>
                            </li>
                            </ul>
                       
                        </div>
                    </nav>
                </header>
                <!-- NavBar section end -->
                <section class=" row sec-1">
                    <div class="col-md-10 offset-md-1 text-center mt-md-5">
                    <h1>Improve your <span> mental health </span>today by journaling and chatting with our AI</h1>
                    <div class="options text-start ">
                        <ul>
                            <li>🔥 Instant mood boosts with positive reframes and alternative perspectives</li>
                            <hr class="my-2">
                            <li>📈 Long term improvements with daily check-ins and reflections</li>
                            <hr class="my-2">
                            <li>🕐 Always available, no waitlists or appointments</li>
                            <hr class="my-2">
                            <li>🧠 Long term memory, the AI will learn about you over time</li>
                            <hr class="my-2">
                            <li>🔒 Privacy-first, nobody can read what you write and your data stays yours</li>
                            <hr class="my-2">
                        </ul>
                     
                    
                    </div>
                    <div>
                        <a class="btn btn-success" href="/auth/login"> Sign Up for free <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </div>

                    <div class="review" >   
                        <img src="/assets/pngfind.com-golden-star-png-2536268.png" width="70px" alt="5 Star">  
                                     
                        <p>“ I have a very physically and emotionally exhausting job. On my days off I’m really struggling to get myself together. Chatting with MindEchoes helps me to get my motivation back and improves the mood when I need to vent 😂 ”</p>
                        <p><img class="profile-pic" src="/assets/reviewDp.jpg" width="100px" alt=""> Ranchoddas Shamaldas Chanchad</p>
                    </div>
                </section>

                <!-- about card section start -->
        
                <section class="d-flex flex-column justify-content-center align-items-center mt-5 bg-dark bg-gradient">
                    <section class="d-flex flex-column flex-md-row align-items-center m-5" style="width: 70%;">
                        <div>
                            <h3 class="fw-semibold">AI therapy has been met with positive results</h3>
                            <p class="">A 2022 study found that AI can make therapy more tailored and effective, offering real-time help based on individual needs.</p>
                            <p class="">MindEchoes is designed to be customized to your needs and to help in a way that is most effective for you.</p>
                        </div>
                        <div>
                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                            <dotlottie-player src="https://lottie.host/c8d34d49-8bdc-4a11-b1e9-db3d269d5370/cuuc695MqG.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                        </div>
                    </section>
                    <section class="d-flex flex-column flex-md-row align-items-center m-5" style="width: 70%;">
                        <div>
                            <h3 class="fw-semibold">LeapLife is private by default</h3>
                            <p class="">Your conversations with our AI are always private. We can never read what you write, even if we wanted to.</p>
                            <p class=""><a href="#">Read our privacy policy</a></p>
                        </div>
                        <div>
                            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                            <dotlottie-player src="https://lottie.host/6df67538-b462-41e7-bb00-e4c702f40e53/e1d3Bcbryd.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                        </div>
                    </section>
                </section>

                <!-- app working explaination section -->
                <section class=" d-flex flex-column justify-content-center align-items-center mt-5">
                    <h2 class="fw-semibold">How does MindEchoes works?</h2>
                    <section class="d-flex flex-column justify-content-center align-items-center m-5 p-2 g-col-8" style="width: 70%;">
                        <section class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <h3 class="fw-semibold">1. Choose your preferred style of communication</h3>
                                <p>LeapLife's personas are designed to help you communicate in a way that feels most comfortable for you. You can choose from different personas, or even create your own.</p>
                            </div>
                            <div>
                                <img width="300px" src="/assets/workSec1.svg" alt="" class="image">
                            </div>
                        </section>
                    </section>
                    <section class="d-flex flex-column justify-content-center align-items-center m-5 p-2 g-col-8" style="width: 70%;">
                        <section class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <h3 class="fw-semibold">2. Write whatever is on your mind</h3>
                                <p>Write about your day, your thoughts, your feelings or whatever is on your mind. No need to hold back. Be as short or as long as you want.</p>
                            </div>
                            <div>
                                <img width="300px" src="/assets/workSec2.svg" alt="" class="image">
                            </div>
                        </section>
                    </section>
                    <section class="d-flex flex-column justify-content-center align-items-center m-5 p-2 g-col-8" style="width: 70%;">
                        <section class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <h3 class="fw-semibold">3. Get a helpful insights and questions back</h3>
                                <p>The AI will respond with helpful questions, insights and ideas back. You can respond with a quick reply or write more. If you're not happy with the response, you can ask for a new one.</p>
                            </div>
                            <div>
                                <img width="300px" src="/assets/workSec3.svg" alt="" class="image">
                            </div>
                        </section>
                    </section>
                    <section class="d-flex flex-column justify-content-center align-items-center m-5 p-2 g-col-8" style="width: 70%;">
                        <section class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <h3 class="fw-semibold">4. Ask the AI for more help</h3>
                                <p>With just a click of a button, you can ask the AI for a positive reframe or a new perspective. It can help you suggest ideas or actions or even challenge your thinking.</p>
                            </div>
                            <div>
                                <img width="300px" src="/assets/workSec4.svg" alt="" class="image">
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start-Journey Section Start -->
                <section class="d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
                    <section class="mt-5" style="width: 70%;">
                        <h2 class="fw-bold">Start your journey today</h2>
                        <p class="fw-semibold">Within a minute you can start journaling and chat with our AI therapist. It's free to get started.</p>
                        <div class="d-flex justify-content-start align-items-center">
                            <a class="btn btn-success" href="/auth/login"> Sign Up for free <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </div>
                    </section>
                </section>
                

                <!-- About section
                <section class="about-sec mt-5 mb-5">
                    <h2 class="text-center fw-semibold">Our Team!</h2>                
                    <div class="container d-flex justify-content-center align-items-center vh-100">
                        <div class="row">
                        <div class="col-md-4 card">
                            <div class="d-flex justify-content-center">
                                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                                <dotlottie-player src="https://lottie.host/75b469a5-8539-42ca-aa89-b05b30f1b7cc/q8QZVoDx5W.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                            </div> <img src="..." class="card-img-top" alt="..."> 
                            <div class="card-body d-flex justify-content-center flex-column">
                                <h5 class="card-title text-center">Mayur Pathe</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary ">Linkedin Profile</a>
                            </div>
                        </div>
                        <div class="col-md-4 card">
                            <div class="d-flex justify-content-center">
                                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                                <dotlottie-player src="https://lottie.host/75b469a5-8539-42ca-aa89-b05b30f1b7cc/q8QZVoDx5W.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                            </div>
                             <img src="..." class="card-img-top" alt="..."> 
                            <div class="card-body d-flex justify-content-center flex-column">
                                <h5 class="card-title text-center">Paawan Upadhyay</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Linkedin Profile</a>
                            </div>
                        </div>
                        <div class="col-md-4 card">
                            <div class="d-flex justify-content-center">
                                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                                <dotlottie-player src="https://lottie.host/75b469a5-8539-42ca-aa89-b05b30f1b7cc/q8QZVoDx5W.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                            </div> <img src="..." class="card-img-top" alt="..."> 
                            <div class="card-body d-flex justify-content-center flex-column">
                                <h5 class="card-title text-center">Ritika Sahay</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Linkedin Profile</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </section> -->
               
            </div>
</body>
<%- include("../includes/footer.ejs") %>
</html>