<%  layout("/layouts/boilerplate") %>


            <div class="main-box ">
                            <!-- <div class="side-box">
                         for(let session of sessions) {
                                <div class="side-card">
                                    <p> session.date </p>
                                    <div class="journal-list">
                                    <a href="#"> <h5>Title</h5>  </a>
                                    </div>
                                </div>
                                
                            </div> -->
                
                            <div class=" journal-box container">
                                    <div class="inside-box col-md-8">
                                        <div class="content">
                                            <h6><%= FormattedDate1 %></h6>
                                            <hr>
                                             <h5>Reflection Guide</h5>

                                            <p>
                                                Writing a journal involves regularly recording your thoughts, feelings, and experiences in a written format. Journals can serve various purposes, such as self-reflection, emotional processing, goal tracking, and memory preservation.
                                            </p>
                                        </div>
                                       

                                            <div class="buttons">
                                                <a class="btn journal-btn" href="/aichat">Start Journal <i class="fa-solid fa-robot"></i></a>
                                                <a class=" btn journal-btn" href="/journal/new">Add New+</a>
                                            </div>
                                    </div>
                            </div>
            </div>
        </div>    
